.lights
{
    display: block;
    height: 80px;
}

.lights img
{
    margin:0;
    float:left;
    padding:0;
}

.firstonrow
{
    clear: left;
}

.jtextfill
{
    background: transparent;
}

.bg1
{
    background-color: #eee;
}

#status_header
{
    margin: 0;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 2em;
}

#dstatus
{
    width: 600px;
    height: 100px;
    position: relative;
    left: 100px;
    border-radius: .4em;
    border: solid 1xp #000;
    background-color: #fff;
    color: #000;
}


#spinner_text
{
    display: block-inline;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

#spinner
{
    display: inline;
    clear: right;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}

.fixedwhole
{  
    position: absolute;   
    display:inline-block;
    top:0;
    left: 0;
    width:800px;
    height:100%;
    margin:0;
    padding:0;
}

.dynamicwhole
{  
    position: absolute;   
    display:inline-block;
    top:0;
    left: 0;
    width:90%;
    height:100%;
    margin-left: 5%;
    margin-right: 5%;
}

.content
{  
    display:inline-block;
    margin-top:0;
    border-radius: .4em;
    border: 1px solid black;
    width: 800px;
}

.tabdiv
{
    margin:0;
    margin-top:5px;
    height:40px;
    padding:0;
}

.tabdiv UL
{
    display:inline-block;
    list-style:none;
    height:40px;
    margin:0;
    padding:0;
    width:800px;
}

.tabdiv LI 
{
    float:right;
    height:39px;
    list-style:none;
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: 0;
    padding: .5em;
    padding-bottom: 0;
    padding-top: 0;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.tabdiv LI.active
{
    border-bottom: 1px solid #eee;
    z-index: 100;
}

.tabdiv LI.active A
{
    color: #000;
}

.tabdiv LI A
{
    color: #aaa;
}

.tabdiv LI A:hover
{
    color: #357aa0;
}

.tabdiv a:visited,a:link { text-decoration: none }


.tabwidth {
    width: 15%;
}
